- if partners
  - partners.each do |p|
    .partner-box
      .partner-box-header
        %h4.partner-name{'data-id' => p.id}
          = p.name
        - if admin_signed_in?
          .box-controls.pull-right
            = link_to edit_partner_path(p.id) do
              = fa_icon 'pencil', class: 'right-20 pointer'
            = link_to partner_path(p.id), method: :delete, confirm: 'Are you sure you want to delete this partner' do
              = fa_icon 'trash', class: 'pointer'
      - if p.phone
        .partner-section
          = fa_icon 'phone', text: p.phone, class: 'partner-phone'
          %br
      - if p.address
        .partner-section
          = fa_icon 'thumb-tack', text: p.address, class: 'partner-address'
          %br
      - if p.url
        .partner-section
          = link_to p.url, target: '_blank' do
            = fa_icon 'globe', text: p.url, class: 'partner-url'
          %br
      - if p.comment
        = fa_icon 'comment', text: p.comment, class: 'partner-comment'
