#process_accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
  - steps.each_with_index do |p, i|
    - id = "loan_process_#{p.id}"
    - order = p.step_number
    - collapse = "#{id}_collapse"
    - display = i == 0 ? 'in' : 'out'
    .panel.panel-default
      .panel-heading.process-panel-heading{:role => "tab", id: id, 'data-order' => order, 'data-toggle' => 'collapse', 'data-parent' => '#process_accordion', :href => "##{collapse}"}
        %h4.panel-title
          %a.step-text{"aria-controls" => collapse, "aria-expanded" => "true", "data-parent" => "#process_accordion", "data-toggle" => "collapse", :href => "##{collapse}"}
            = "Step #{order}: #{p.name}"
          - if admin_signed_in?
            .admin-control.pull-right
              - if order == 1
                - up_class = 'inactive'
              - else
                - up_class = 'complimentary'
              - if order == steps.count
                - down_class = 'inactive'
              - else
                - down_class = 'complimentary'
              = fa_icon 'arrow-up', class: "right-20 pointer process-up #{up_class}"
              = fa_icon 'arrow-down', class: "right-20 pointer process-down #{down_class}"
              = link_to '#edit_process_modal', class: 'edit-process', 'data-toggle' => 'modal' do
                = fa_icon 'edit', class: 'white right-20 pointer'
              = link_to(delete_process_path(id: p.id), data: { confirm: "Are you sure you want to delete: #{p.name}?" },class: 'delete-process', method: :delete) do
                = fa_icon 'trash', class: 'white right-20 pointer'
      .panel-collapse.collapse{"aria-labelledby" => id, :role => "tabpanel", id: collapse, class: display}
        .panel-body
          .panel-text
            = p.description
