- if comments.present?
  - comments.each do |c|
    - next unless admin_signed_in? || c.status != 'pending'
    .main-comment-container
      .comment.accent-5
        .inner-comment
          %h5.accent-5
            = c.comment
          %em
            = "-#{c.name}"
      - if admin_signed_in?
        .blog-controls.pull-right{'data-comment-id' => c.id}
          - if c.status == 'pending'
            %a.approve-comment{href: '#'}
              = fa_icon 'check', class: 'white'
          %a.remove-comment{href: '#'}
            = fa_icon 'trash', class: 'white'
        .clearfix
