%h3.white.center Edit blog post
%hr
.post-container
  = form_for @post, url: {action: :edit_post, controller: :blog, id: @post.id}, html: {id: 'edit_post_form', class: "form form-horizontal"} do |f|
    .form-group
      .col-sm-2
        = f.label :title, class: 'control-label white'
      .col-sm-10
        = f.text_field :title, {class: 'form-control', required: true}
    .form-group
      .col-sm-2
        = f.label :body, class: 'control-label white'
      .col-sm-10
        = f.text_area :body, {id: 'edit_blog_editor', class: 'form-control edit-text-area tinymce full-width', required: true, rows: 20}
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-default.pull-right{:type => "submit"} Submit
