.navbar.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.complimentary{"data-target" => "#nav-items", 'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a#logo.pull-left{href: '/'}
        .shadow.forum.complimentary
          Jason Hall
        .sub-logo.shadow
          Home Loans
    .nav-header
      = render(partial: 'layouts/social_media_links', locals: {id: 'follow', classes: 'hidden-xs hidden-s'})
    .collapse.navbar-collapse#nav-items.navbar-right
      %ul.nav.navbar-nav
        %li
          = link_to("Home", '/', class: 'nav-item')
        %li
          = link_to("Blog", blog_path, class: 'nav-item')
        %li
          = link_to("Loan Resources", resources_path, class: 'nav-item')
        %li
          = link_to("Partners", partners_path, class: 'nav-item')
        %li
          = link_to("Tools", '/', class: 'nav-item')
        %li
          = link_to("Reviews", '/', class: 'nav-item')
        %li
          = link_to('/contact', class: 'nav-item') do
            = fa_icon "envelope"
        %li.dropdown
          %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            %b.fa.fa-gears
          %ul.dropdown-menu
            %li
              - if admin_signed_in?
                = link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'delete'
              - else
                = link_to 'Sign In', new_admin_session_path, method: :get
        %li
          = render(partial: 'layouts/social_media_links', locals: {id: 'sm_links', classes: 'visible-xs visible-s'})
        %li
          %button#apply_button.btn.gradient
            = fa_icon 'check', text: 'Apply Now'
