%div{id: id, class: classes}
  = link_to "https://www.facebook.com/jasonhall", {target: '_blank'} do
    = fa_icon 'facebook', class: 'complimentary social-nav shadow'
  = link_to "https://www.youtube.com/", {target: '_blank'} do
    = fa_icon 'youtube', class: 'complimentary social-nav shadow'
  = link_to "https://www.tumblr.com", {target: '_blank'} do
    = fa_icon 'tumblr', class: 'complimentary social-nav shadow'
  = link_to "https://www.linkedin.com", {target: '_blank'} do
    = fa_icon 'linkedin', class: 'complimentary social-nav shadow'
